/*
 = ANIMATION
 */

@keyframes animated-red-dot {
    0% {
        background-color: #f44336;
    }
    50% {
        background-color: #ffffff;
    }
    100% {
        background-color: #f44336;
    }
}

/*
 = GLOBAL 
 */

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/*
 = HEADER 
 */

#header {
    font-size: 2vw;
    text-transform: uppercase;
    background-color: #55acee;
    background-image: url(../img/background_toolbar.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

#header .live {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header .live .red-dot {
    width: 1vw;
    height: 1vw;
    margin-right: 10px;
    border: 0.5vw solid #ffffff;
    border-radius: 50%;
    background-color: #f44336;
    animation-name: animated-red-dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*
 = TWEETS WALL 
 */

#tweets {
    padding: 20px;
    background-color: #fafafa;
}

#tweets .tweet .time {
    color: rgba(0,0,0,.54);
    font-size: 1vw;
    text-align: right;
}
